td {
    width: 100px;
    height: 100px;
    position: relative;
    float: left;
    background-color: white;
    border: 1px solid black;
    color: white;
    text-align: center;
  }
  button {
    font-size: 20px;
    font-weight: bold;
  }